@font-face {
    font-family: SVN-Futura;
    src: url(font/SVN-Futura\ Regular.ttf);
}         
@font-face {
    font-family: Taken by Vultures Alternates De;
    src: url(font/Taken\ by\ Vultures\ Demo.otf);
}
:root{
    --color-main: #42210B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'SVN-Futura', sans-serif;
}
#footer{
    margin-top: 60px;
    width: 100%;
    height: 650px;
    background: var(--main, #42210B);

    display: grid;
    
    grid-template-columns: 23% 15.5% 23% 38.5%;
}
#footer .col1{
    display: flex;
    align-items: center;
}
#footer .col1 .time-oppen{
    width: 100%;
    padding-left: 20%;
    height: 150px;
    text-align: center;
    margin: auto 0;
    color: white;
    font-family: SVN-Futura;
}
#footer .col1 .time-oppen h3{
    font-size: 16px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    padding: 6px 0;
}
#footer .col1 .time-oppen p{
    font-size: 14px;
    padding: 6px 0;
}
#footer .col2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 14px;
}
#footer .col2 .social .item{
    padding: 6px 0;
}
#footer .col2 .social i{
    fill: #E3E3E3;
    padding: 6px;
}
#footer .col2 .social img{
    width: 108px;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
}
#footer .col3{
    display: flex;
    align-items: center;
}
#footer .col3 .inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: SVN-Futura;
}
#footer .col3 .main-content{
    margin-top: 60px;
}
#footer .col3 .license{
    margin-top: 290px;
    font-size: 12px;
    color: #D1D1D1;
}
#footer .col3 .license a{
    font-size: 12px;
    color: #D1D1D1;
}
#footer .col4{
    padding: 112px;
    color: white;
    font-family: SVN-Futura;
    display: flex;
    align-items: center;
}
#footer .col4 .inner{
    width: 250px;
    height: 370px;
    text-align: center;
    margin-top: 15px;
}
#footer .col4 .inner .local{
    padding-bottom: 35px;    
}
#footer .col4 h3{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
}
#footer .col4 p{
    margin: 2px 0;
    font-size: 14px;
    font-weight: 400;
}

